@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333333;
}

header h1 {
    display: inline-block;
    color: white;
    font-family: 'Cousine', monospace;
}

header>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

ul>li {
    display: flex;
    margin: 0px 5px;
}

li>a {
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px;
    color: #E68225;
    font-family: 'Cousine', monospace;
}